<div class="container">

	<h3>Owners: </h3>
	<ul>
	<% @bucket.owners.each do |owner| %>
		<li><%= owner.first_name + " " + owner.last_name %></li>
	<% end %>
	</ul>

	<%= form_for [@bucket, @bucket_ownership] do |f| %>
	  <%= f.collection_select(:user_id, User.all, :id, :full_name, :prompt => true) %>
	  <%= f.submit "Add Owner" %>
	<% end %>

</div>