<div class="container">
	<div class="inner-container yellow4">
		<h1><%= @user.full_name + ", " %>&nbsp&nbsp<em><%= @user.location %></em></h1>
	</div>
	<div class="inner-container white"></div>
	<div class="inner-container white"></div>
	<div class="inner-container white"></div>
	<div class="inner-container white"></div>
	<div class="inner-container white"></div>
</div>