<!-- **************************************** -->
<!-- **************** MODALS **************** -->
<!-- **************************************** -->


<!-- edit -->
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="edit"> </h4>
      </div>
      <div class="modal-body">

        <%= render "buckets/edit" %>
        
      </div>
    </div>
  </div>
</div>

<!-- add/delete owners -->
<div class="modal fade" id="owners" tabindex="-1" role="dialog" aria-labelledby="owners" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="owners"> </h4>
      </div>
      <div class="modal-body">

        <%= render "bucket_ownerships/owners" %>
        
      </div>
    </div>
  </div>
</div>