<div class="container">
	<% @buckets.each do |bucket| %>
			<%= render partial: "bucket", locals: { bucket: bucket } %>
	<% end %>
	<% if @buckets.size % 4 != 0 %>
		<% (4-(@buckets.size % 4)).times do %>
			<div class="bucket col-sm-3 col-xs-4 yellow<%= rand(1..5) %>"></div>
		<% end %>
	<% end %>
</div>