/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require 'twitter-bootstrap-static/bootstrap'
 */
@import url(http://fonts.googleapis.com/css?family=Playfair+Display|Oswald:400);
@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700|Alike);
@import url(http://fonts.googleapis.com/css?family=Quicksand|Francois+One|Trocchi);

.yellow1 {
    background-color: #FFEFA4;
}

.yellow2 {
    background-color: #FFE670;
}

.yellow3 {
    background-color: #FFDF45;
}

.yellow4 {
    background-color: #FFD717;
}

.yellow5 {
    background-color: #FFD300;
}

.white {
    background-color: white;
}

body:before, body:after {
    content: "";
    position: fixed;
    background: #404040;
    left: 0;
    right: 0;
    height: 25px;
    z-index: 100;
}
body:before {
    top: 0;
}
body:after {
    bottom: 0;
}
body {
    border-left: 25px solid #404040;
    border-right: 25px solid #404040;  
    font-family: "Trocci";
	font-size: 16px;
    background-color: #5B5950;
}

.inner-container {
	width: 100%;
    padding: 5% 20%;
}

h1, h3 {
    font-family: "Quicksand";
}

/*img {
    height: 300px;
}*/

.tab {
    margin-left: 20px;
}

.trocci {
    font-family: "Trocci";
}

.divider {
    height: 100px;
}

input[type="text"] {
    background-color: #efefef;
    border-radius: 3px;
    border: 2px solid #e4e4e4;
}

input[type="text"]:focus {
    outline: 5px auto #ffda39;
} 