// Place all the styles related to the bucket controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.private {
	background-color: gray;
	display: none;
}

.group {
	background-color: yellow;
}

.current_user_private {
	background-color: gray;
}

.bucket {
	border: 1px solid black;
	height: 250px;
	padding: 7px 25px;
	display: inline-block;
	font-size: 1.3em;
	a {
		color: #404040;
	}
	a:hover {
	  color: #5E5E5E;
	  text-decoration: none;
	}
	a:visited {
	  color: #404040;
	  text-decoration: none;
	}
}