// Place all the styles related to the bucket controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
	border: 1px solid black;
	margin: 5px;
	padding: 5px;
}

.private {
	background-color: gray;
}

.group {
	background-color: yellow;
}
