<div class="container">
	<h1>welcome to bookit bucket</h1>
	<% @buckets.each do |bucket| %>
		<% if bucket.privacy == "public" %>
			<%= render partial: "bucket", locals: { bucket: bucket} %>
		<% end %>
	<% end %>
</div>