<div class="container">
	<%= @bucket.name %> by <%= username(@bucket.user_id) %>
	<ul>
		<% @items.each do |item| %>
			<li><%= item.name %></li>
		<% end %>
	</ul>
</div>
<% @bucket.hashtags.each do |tag| %>
	<%= link_to "##{tag.tag}", hashtag_path(tag) %>
<% end %>