<div class="container">
	<% @buckets.each do |bucket| %>
			<%= render partial: "bucket", locals: { bucket: bucket } %>
	<% end %>
</div>
<%= link_to "Create New Bucket", new_bucket_path %>
<%= link_to "Your Buckets", buckets_home_path %>
<br><br><br><br>