<div class="container">
	<h1><%= @hashtag.tag %></h1>
	<% @hashtag.buckets.each do |bucket| %>
		<%= render partial: "buckets/bucket", locals: { bucket: bucket} %>
	<% end %>
	<% (3-(@hashtag.buckets.size % 3)).times do %>
		<div class="bucket col-sm-4 col-xs-6 yellow<%= rand(1..5) %>"></div>
	<% end %>
</div>