// Place all the styles related to the bucket controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bucket {
	border: 1px solid black;
	height: 250px;
	padding: 7px 25px;
	display: inline-block;
	font-size: 1.3em;
	overflow: hidden;
}

.bucket-links {
	position: absolute;
	bottom: 5px;
	left: 5px;

	h2, h4 {
		color: white;
	}
}

.bucket-owners {
	position: absolute;
	top: 5px;
	left: 5px;
}